*,*:before,*:after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
    min-height: 100vh;
    font-family: 'Noto Sans TC', sans-serif;
    color: $secondary;
    font-size: $font-size-2;
    font-weight: $font-weight-regular;
    line-height: $line-height-2;
    letter-spacing: $letter-spacing-1;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    @include md {
        max-width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.w-100{
    width: 100%;
}

h1 {
    font-size: $font-size-4;
    line-height: $line-height-4;
    letter-spacing: $letter-spacing-4;
    font-weight: $font-weight-bold;
    @include md {
        font-size: $font-size-3;
        line-height: $line-height-3;
        letter-spacing: $letter-spacing-3;
    }
}

a {
    text-decoration: none;
    display: block;
    color: $secondary;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span.box {
    display:inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    cursor:pointer;
    margin-right: 16px;
}

input[type="checkbox"]:checked + label span.box{
    border: 0;
    background:url(../images/check-solid.svg) no-repeat;
}

// input[type="checkbox"]:hover + a.delete{
//     display:inline-block;
//     width: 16px;
//     height: 16px;
//     background:url(../images/times-solid.svg) no-repeat;
//     cursor:pointer;
// }

@include md {
    input[type="checkbox"]:hover + a.delete{
        display: none;
        // display:inline-block;
        // width: 16px;
        // height: 16px;
        // background:url(../images/times-solid.svg) no-repeat;
        // cursor:pointer;
        // margin-left: -15px;
    }
}

.baloo {
    font-family: 'Baloo Tamma 2', cursive;
}

.fs-1{
    font-size: $font-size-1;
    line-height: $line-height-1;
    letter-spacing: $letter-spacing-2;
}

.fs-2{
    font-size: $font-size-2;
    line-height: $line-height-2;
    letter-spacing: $letter-spacing-1;
}

.fs-3{
    font-size: $font-size-3;
    line-height: $line-height-3;
    letter-spacing: $letter-spacing-3;
}

.fs-3{
    font-size: $font-size-4;
    line-height: $line-height-4;
    letter-spacing: $letter-spacing-4;
}

.text-primary{
    color: $primary;
}

.text-secondary{
    color: $secondary;
}

.text-light{
    color: $light;
}

.text-center{
    text-align: center;
}

.fw-bold{
    font-weight: $font-weight-bold;
}

.d-flex{
    display: flex;
}