// margin-top
.mt-1{
    margin-top: 4px;
}

.mt-2{
    margin-top: 8px;
}

.mt-2p{
    margin-top: 12px;
}

.mt-3{
    margin-top: 16px;
}

.mt-3p{
    margin-top: 24px;
}

.mt-4{
    margin-top: 32px;
}

.mt-5{
    margin-top: 48px;
}

// margin-right
.me-1{
    margin-right: 4px;
}

.me-2{
    margin-right: 8px;
}

.me-2p{
    margin-right: 12px;
}

.me-3{
    margin-right: 16px;
}

.me-3p{
    margin-right: 24px;
}

.me-4{
    margin-right: 32px;
}

.me-5{
    margin-right: 48px;
}

// margin-bottom
.mb-1{
    margin-bottom: 4px;
}

.mb-2{
    margin-bottom: 8px;
}

.mb-2p{
    margin-bottom: 12px;
}

.mb-3{
    margin-bottom: 16px;
}

.mb-3p{
    margin-bottom: 24px;
}

.mb-4{
    margin-bottom: 32px;
}

.mb-5{
    margin-bottom: 48px;
}

// margin-left
.ms-1{
    margin-left: 4px;
}

.ms-2{
    margin-left: 8px;
}

.ms-2p{
    margin-left: 12px;
}

.ms-3{
    margin-left: 16px;
}

.ms-3p{
    margin-left: 24px;
}

.ms-4{
    margin-left: 32px;
}

.ms-5{
    margin-left: 48px;
}