$primary: #FFD370;
$secondary: #333333;
$light: #9F9A91;

$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 32px;
$font-size-4: 48px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-1: 20px;
$line-height-2: 24px;
$line-height-3: 56px;
$line-height-4: 82px;

$letter-spacing-1: 0.62px;
$letter-spacing-2: 0.7px;
$letter-spacing-3: 5.83px;
$letter-spacing-4: 8.75px;

